<div class="footer">
    <div class="container">
        <div class="footer-information">
            <div class="footer-info">
                <p>information</p>
                <span>The brand</span>
                <span>Local stores</span>
                <span>Site map</span>
            </div>
            <div class="footer-whyBy">
                <p>why buy from us</p>
                <span>Shipping & returns</span>
                <span>Secture shopping</span>
            </div>
            <div class="footer-acount">
                <p>Your Account</p>
                <span>Sign in</span>
                <span>Register</span>
                <span>View cart</span>
                <span>Update information</span>
            </div>
            <div class="footer-contact">
                <p>Contact Details</p>
                <span>Telephone: 063-991-98-09</span>
                <span>Email: rayon-inc@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="madeBy">
        <div class="container madeBy-wrapper">
            <div class="madeBy-corp">
                <span>@ 2020 RaЙoN.inc</span>
            </div>
            <div class="madeBy-design">
                <span>Design by SomeOneElse</span>
                <span>Dev by sergiysteg@gmail.com</span>
            </div>
        </div>
    </div>
</div>