<header class="header">
    <div class="header-auth">
        <div class="container">
            <div class="auth-wrapper row">
                <div class="header-auth-currency d-flex align-items-center">
                    <p>Currency: <span>UAH</span></p>
                </div>
                <div class="header-auth-personal d-flex align-items-center">
                    <ul class="list-inline">
                        <li class="list-inline-item header-register p-2 mr-5" *ngIf="!loginStatus">
                            <a routerLink="register">Register/Sign In</a>
                        </li>
                        <li class="list-inline-item header-admin p-2 mr-5" *ngIf="loginStatus">
                            <a [routerLink]="[ '/'+loginUrl ]">{{ loginName }}</a>
                        </li>
                        <a routerLink="basket">
                            <li class="list-inline-item header-basket p-2 text-center">
                                <i class="uil uil-shopping-basket"></i>
                                <span *ngIf="!totalPrice">empty</span>
                                <span *ngIf="totalPrice">{{ totalPrice }}</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="sticky-nav__wrapper">
        <div class="header-nav" ngStickyNav stickyClass="sticky-class">
            <div id="logo">
                <a class="navbar-brand" routerLink="home">
                    <span class="logo">RaЙoN</span>
                </a>
            </div>
            <nav class="nav">
                <div class="navWrapper navbar-collapse">
                    <ul class="nav-ul mr-auto">
                        <li class="nav-item drop-li" routerLinkActive="active">
                            <a class="nav-link" [routerLink]="['cloth']">
                                Cloth
                            </a>
                            <div class="dropDown">
                                <div class="dropContent">
                                    <div class="casual">
                                        <p>CASUAL</p>
                                        <ul>
                                            <li *ngFor="let cat of categories">
                                                <a [routerLink]="['cloth/'+cat.nameEN]">{{ cat.nameEN | titlecase}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="formal">
                                        <p>FORMAL</p>
                                        <ul>
                                            <li><a href="#">Jackets</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Suits</a></li>
                                            <li><a href="#">Trousers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropSale">
                                    <div class="dropSale-cont">
                                        <p>AUTUM SALE!</p>
                                        <p>UP TO 50% OFF</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item drop-li" routerLinkActive="active">
                            <a class="nav-link" routerLink="brand">
                                THE BRAND
                            </a>
                        </li>
                        <li class="nav-item drop-li" routerLinkActive="active">
                            <a class="nav-link" routerLink="localstores">
                                LOCAL STORES
                            </a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" aria-label="Username"
                                aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="uil uil-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                        <span></span>
                    </label>
                    <ul class="menu__box">
                        <li>
                            <a class="menu__item" [routerLink]="['cloth']">Clothes</a>
                            <ul class="menu__dropdown">
                                <li *ngFor="let cat of categories">
                                    <a class="menu__item"
                                        [routerLink]="['cloth/'+cat.nameEN]">{{ cat.nameEN | titlecase}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="menu__item" [routerLink]="['brand']">The brand</a></li>
                        <li><a class="menu__item" [routerLink]="['localstores']">Local Stores</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>