<header class=header>
    <div class="header-auth">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="header-auth-currency d-flex align-items-center">
                    <p>Currency: <span>UAH</span></p>
                </div>
                <div class="header-auth-personal d-flex align-items-center">
                    <ul class="list-inline">
                        <li class="list-inline-item header-register p-2">Register</li>
                        <li class="list-inline-item header-sign p-2 mr-5">Sign In</li>
                        <li class="list-inline-item header-basket p-2 text-center">
                            <i class="uil uil-shopping-basket"></i>
                            <span>empty</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav navbar navbar-expand-lg navbar-light justify-content-between">
        <div id="logo">
            <a class="navbar-brand" routerLink="home">
                <span class="logo">RaЙoN</span>
            </a>
        </div>
        <nav class="navWrapper">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item drop-li" routerLinkActive="active">
                        <a class="nav-link" routerLink="mens">
                            MENS
                        </a>
                        <div class="dropDown">
                            <div class="dropContent">
                                <div class="casual">
                                    <p>CASUAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Hoodie</a></li>
                                        <li><a href="#">Panamas</a></li>
                                        <li><a href="#">Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="formal">
                                    <p>FORMAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropSale">
                                <div class="dropSale-cont">
                                    <p>AUTUM SALE!</p>
                                    <p>UP TO 50% OFF</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-li" routerLinkActive="active">
                        <a class="nav-link" routerLink="womens">
                            WOMENS
                        </a>
                        <div class="dropDown">
                            <div class="dropContent">
                                <div class="casual">
                                    <p>CASUAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Hoodie</a></li>
                                        <li><a href="#">Panamas</a></li>
                                        <li><a href="#">Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="formal">
                                    <p>FORMAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropSale">
                                <div class="dropSale-cont">
                                    <p>AUTUM SALE!</p>
                                    <p>UP TO 50% OFF</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-li" routerLinkActive="active">
                        <a class="nav-link" routerLink="brand">
                            THE BRAND
                        </a>
                    </li>
                    <li class="nav-item drop-li" routerLinkActive="active">
                        <a class="nav-link" routerLink="localstores">
                            LOCAL STORES
                        </a>
                        <div class="dropDown">
                            <div class="dropContent">
                                <div class="casual">
                                    <p>CASUAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Hoodie</a></li>
                                        <li><a href="#">Panamas</a></li>
                                        <li><a href="#">Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="formal">
                                    <p>FORMAL</p>
                                    <ul>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropSale">
                                <div class="dropSale-cont">
                                    <p>AUTUM SALE!</p>
                                    <p>UP TO 50% OFF</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button">
                            Dropdown
                        </a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search" aria-label="Username"
                            aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="uil uil-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</header>