<div class="container-fluid border rounded">
    <form #formCtrl="ngForm" class="mt-2">
      <div class="form-row">
        <div class="form-group col">
          <label for="categoryChoose"><strong>Choose category</strong></label>
          <select [(ngModel)]="categoryName" name="categoryName" (change)="setCategory()" class="custom-select"
            id="categoryChoose">
            <option *ngFor="let cat of categories">
              {{ cat.nameEN }}
            </option>
          </select>
        </div>
        <div class="form-group col">
          <label for="nameUA"><strong>Color</strong></label>
          <input [(ngModel)]="clothColor" name="clothColor" type="text" id="nameUA" class="form-control" required>
        </div>
      </div>
      <div class="form-group">
        <label for="description"><strong>Description</strong></label>
        <textarea [(ngModel)]="clothDescription" name="clothDescription" class="form-control" id="description"
          rows="3" required></textarea>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="weight"><strong>Material</strong></label>
            <input [(ngModel)]="clothMaterial" name="clothMaterial" type="text" id="weight" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="price"><strong>Price</strong></label>
            <input [(ngModel)]="clothPrice" name="clothPrice" type="number" id="price" class="form-control" required>
          </div>
        </div>
        <div class="col">
          <div class="custom-file input-file-block" *ngIf="!imageStatus">
            <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="image" required>
            <label class="custom-file-label" for="image">Choose file...</label>
          </div>
          <div class="progress mb-3 mt-3" *ngIf="!imageStatus">
            <div [style.width]="(uploadProgress | async) + '%'" class="progress-bar progress-bar-striped bg-warning"
              role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="clothImage" *ngIf="imageStatus">
            <span (click)="deleteImage(deleteImageConfirm)">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </span>
            <img [src]="clothImage" alt="">
          </div>
        </div>
      </div>
      <button type="submit" *ngIf="!editStatus" class="btn btn-dark" (click)="addCloth()" [disabled]="formCtrl.form.invalid">Add</button>
      <button *ngIf="editStatus" class="btn btn-success" (click)="saveCloth()" [disabled]="formCtrl.form.invalid">Save</button>
    </form>
  
    <table class="table mt-3 table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Color</th>
          <th scope="col">Material</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cloth of adminClothes">
          <td>{{ cloth.id }}</td>
          <td>{{ cloth.category.nameEN | titlecase }}</td>
          <td>{{ cloth.description | slice:0:50 }}</td>
          <td>{{ cloth.color }}</td>
          <td>{{ cloth.material }}</td>
          <td>{{ cloth.price }}</td>
          <td>
            <img [src]="cloth.image" style="width: 100px; height: 100px;" alt="">
          </td>
          <td>
            <input type="button" value="edit" class="btn btn-warning" (click)="editCloth(cloth)">
          </td>
          <td>
            <input type="button" value="delete" class="btn btn-danger" (click)="deleteCloth(cloth.id)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #deleteImageConfirm>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirmImage()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="declineImage()">No</button>
    </div>
  </ng-template>