<div class="container-fluid">
    <div class="row info">
        <div class="info__header col-3">
            <div class="info__person">
                <img class="info__image" src="../../../../assets/img/userPhoto.png" alt="">
            </div>
        </div>
        <div class="info__user col">
            <table>
                <tbody>
                    <tr class="info__tr">
                        <td class="info__td">First Name:</td>
                        <td class="info__td">{{ firstName }}</td>
                    </tr>
                    <tr class="info__tr">
                        <td class="info__td">Last Name:</td>
                        <td class="info__td">{{ lastName }}</td>
                    </tr>
                    <tr class="info__tr">
                        <td class="info__td">Phone:</td>
                        <td class="info__td">Phone:</td>
                    </tr>
                    <tr class="info__tr">
                        <td class="info__td">Email:</td>
                        <td class="info__td">{{ email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
