@import '../../../assets/variables/variables.scss';

.title {
    margin: 10px 0px;

    h1 {
        font-family: 'Bebas Bold';
        font-size: 50px;
        letter-spacing: 3px;
        text-align: center;
    }
}




