<section class="home">
    <div class="video-wrapper">
        <div class="overlay"></div>
        <h2>Wear Responsibly</h2>
        <p>Made in Ukraine</p>
        <div class="details">
            <a routerLink="brand" class="home__button">Details</a>
        </div>
        <video src="../../../assets/video/video.mp4" autoplay mute loop></video>
    </div>
</section>

<section class="clothes">
    <div class="container clothes-wrapper">
        <div class="navBlock">
            <nav class="navbar">
                <div class="navbar-block">
                    <a [routerLink]="['home-popular']" routerLinkActive="active">Popular</a>
                    <a [routerLink]="['home-arrivals']" routerLinkActive="active">New Arrival</a>
                    <a [routerLink]="['home-offers']" routerLinkActive="active">Special Offers</a>
                </div>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>

<!-- <section class="looks">
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
</section> -->