@import '../../../assets/variables/variables.scss';

.home {
    
    .video-wrapper {
        height: 50vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h2 {
            font-family: 'Bebas Bold';
            font-size: 40px;
            color: white;
            z-index: 1;
        }
        p {
            color: white;
            font-family: 'Montserrat';
            z-index: 1;
        }
    }
    .home__button {
        border: 1px solid $textColor;
        padding: 10px;
        font-family: 'Montserrat';
        font-size: 16pt;
        background-color: transparent;
        color: $textColor;
        transition: all .2s linear;
    }
    .home__button:hover {
        color: white;
        background-color: $bgColor;
    }
    .home__button:focus {
        outline: none;
    }
    .video-wrapper .details {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        
    }
    video {
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }
}
.clothes-wrapper * {
    box-sizing: border-box;
}
.clothes-wrapper {
    border-top: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    margin-top: 20px; 
}
nav {
    margin: 10px 0px;
}
a {
    margin-right: 10px;
    color: rgba(0,0,0,.5);
    font-family: 'Bebas Bold';
    font-size: 23px;
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color: $activeColor;
}
// .looks {
//     display: flex;
//     justify-content: space-between;
//     margin: 20px 0px;

//     .looks-item {
//         width: 33%;
//         height: 500px;
//         position: relative;
//         overflow: hidden;
//         background: $bgWhiteColor;
//         display: flex;
//         align-items: center;
//         box-sizing: border-box;
//     }
//     .looks-img {
//         position: absolute;
//         height: 100%;
//         left: -70px;
//         bottom: -10px;
//         z-index: 1;
//     }
//     .looks-content {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//         margin-right: 20px;
//     }
//     .looks-content div {
//         max-width: 50%;
//         text-align: right;
//         margin-bottom: 5px;
//     }
//     .looks-title {
//         font-family: 'Bebas';
//         font-size: 70px;
//         line-height: 1em;
//     }
//     .looks-text {
//         font-family: 'Montserrat Light';
//         font-size: 15px;
//     }
//     .looks-button {
//         padding: 10px;
//         color: black;
//         border: 1px solid black;
//         font-family: 'Bebas';
//         font-size: 20px;
//         letter-spacing: 2px;

//         transition: background .2s linear;
//     }
//     .looks-button:hover {
//         background: $activeColor;
//         border: 1px solid $activeColor;
//         color: white;
//         cursor: pointer;
//     }
// }