<section class="home">
    <div class="video-wrapper">
        <div class="overlay"></div>
        <h2>Wear Responsibly</h2>
        <p>Made in Ukraine</p>
        <div class="details">
            <button class="btn btn-light">Details</button>
        </div>
        <video src="../../../assets/video/video.mp4" autoplay mute loop></video>
    </div>
</section>

<section class="home-clothes">
    <div class="container clothes-wrapper">
        <div class="navBlock">
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-link" href="#">Popular <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="#">New Arrival</a>
                        <a class="nav-link" href="#">Special Offers</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="catalog">
            <div class="catalog-wrapper">
                <div class="catalog-item">
                    <img src="../../../assets/img/img_2.jpg" alt="clothes">
                    <span>{{ 1200 | currency:'UAH':'symbol-narrow':'2.0-0'}}</span>
                    <div class="catalog-content">
                        <div class="catalog-title">Lorem ipsum dolor sit amet.</div>
                        <div class="catalog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, similique!</div>
                        <div class="catalog-button">
                            <div class="catalog-buy"><i class="uil uil-shopping-basket"></i></div>
                            <div class="catalog-save"><i class="uil uil-heart"></i></div>
                            <div class="catalog-details"><i class="uil uil-compress-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <img src="../../../assets/img/img_2.jpg" alt="clothes">
                    <span>{{ 1200 | currency:'UAH':'symbol-narrow':'2.0-0'}}</span>
                    <div class="catalog-content">
                        <div class="catalog-title">Lorem ipsum dolor sit amet.</div>
                        <div class="catalog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, similique!</div>
                        <div class="catalog-button">
                            <div class="catalog-buy"><i class="uil uil-shopping-basket"></i></div>
                            <div class="catalog-save"><i class="uil uil-heart"></i></div>
                            <div class="catalog-details"><i class="uil uil-compress-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <img src="../../../assets/img/img_2.jpg" alt="clothes">
                    <span>{{ 1200 | currency:'UAH':'symbol-narrow':'2.0-0'}}</span>
                    <div class="catalog-content">
                        <div class="catalog-title">Lorem ipsum dolor sit amet.</div>
                        <div class="catalog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, similique!</div>
                        <div class="catalog-button">
                            <div class="catalog-buy"><i class="uil uil-shopping-basket"></i></div>
                            <div class="catalog-save"><i class="uil uil-heart"></i></div>
                            <div class="catalog-details"><i class="uil uil-compress-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="looks">
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
    <div class="looks-item">
        <img class="looks-img" src="../../../assets/img/img_people.png" alt="">
        <div class="looks-content">
            <div class="looks-title"><b>MEN'S</b><br> LOOKBOOK</div>
            <div class="looks-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore.</div>
            <div class="looks-button">View Now</div>
        </div>
    </div>
</section>